h1{

    font-style:itaclic;

    color:lightgreen;

    text-align:center;

}

a{

    font-style:italic;

    color:blue;

}

h3{

    text-align:center;

}

img{

    width:321px;

    height:456px;

}

body {

    background:black;

}

